#div1{
    padding: 20px;
    color: aqua;
}
body{
    background-color: rgb(3, 3, 3);
}
#div2{
    padding-left: 70px;
}
.emag{
    padding-top: 25%;
    margin-left: 25%;
}
.div3 a{
    width: 25%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    margin:10px;
}
.div3 a.home{
    margin-left: 70px;
    background-color: rgba(42, 243, 243, 0.849);
    color: white;
}
.div3 a:hover{
    background-color: darkgray;
    color: aquamarine;
}
.pp{
    color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pic{
    padding-left: 75%;
    
}
#img1{
    margin: 10px;
    padding-top: 40px;
}
#img2{
    margin: 10px;
    padding-top: 40px;
}
#img3{
    margin: 10px;
    padding-top: 40px;
}
#img4{
    margin: 10px;
    padding-top: 40px;
}
/* Social  media icons style */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 40%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(purple, orange);
    color: white;
}

.fa-github {
    background: black;
    color: white;
}
.fa-telegram {
    background: white;
    color: skyblue;
}

#lowerdiv {
    position: relative;
    bottom: 5px;
    text-align: center;
}
